
:root {
    --font-family: "Inter", sans-serif;
    --second-family: "HeadlandOne", sans-serif;
    --third-family: "Hammersmith One", sans-serif;
}
.body {
    font-family: var(--font-family);
    font-weight: 400;
}
.container {
    display: flex;
    width: 1440px;
}
.header {
    background-image: url(../images/man-on-bird.jpg);
    background-repeat: no-repeat;border-bottom: 3px solid #fff;
    width: 1440px;
    height: 150px;
    box-shadow:  rgba(43, 74, 97, 0.87);
}

.header-button{
border: 2px solid #26c7ea;
border-radius: 35px 0;
width: 141px;
height: 41px;
background-color: #0b0e66;
font-family: var(--second-family);
font-weight: 400;
font-size: 20px;
text-align: justify;
color: #26c6ea;
padding: 8px 38px;
}
.join-to-clan{
border: 2px solid #26c7ea;
border-radius: 35px 0;
width: 260px;
height: 80px;
background-color: #0b0e66;
font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
text-align: center;
color: #26c7ea;
padding: 10px 30px;
}


.trailer-text{
border: 2px solid #26c7ea;
border-radius: 35px 0;
width: 260px;
height: 80px;
background-color: #0b0e66;
font-family: var(--second-family);
font-weight: 400;
font-size: 24px;
text-align: justify;
color: #26c7ea;
padding: 25px 20px;
}
